# macOS системные файлы
.DS_Store
.AppleDouble
.LSOverride

# VS Code
.vscode/
.history/

# Node.js (если используешь npm)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Логи и временные файлы
*.log
*.tmp
*.swp
*.swo

# Конфигурации ОС
Thumbs.db
desktop.ini

# Папки сборки / публикации
dist/
build/
